@{
    Boolean mostrar = false;
}

@foreach (var item in ViewBag.prueba)
{



    if (item.UserName == User.Identity.Name)
    {
        mostrar = true;
    }


}

@if (!mostrar)
{
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Empresa"))
        {
            <a>mostrar</a>
            <h3 style="text-align:center;margin-top:20%; align-content:center">@Html.ActionLink("Información personal", "Index", "InformacionPersonals/Create")</h3>
        }
    }
}





