
<h1>HOLA</h1>

@{
    bool mostrar = false;
}


@if (mostrar)
{
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Empresa"))
        {
            <h3 style="text-align:center;margin-top:20%; align-content:center">@Html.ActionLink("Agregar Empresa", "Index", "PerfilEmpresas/Create")</h3>
        }
    }
}